@using ExDoc.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> External Document Control </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/themes/theme.css" rel="stylesheet" />
    <link href="~/Scripts/Select2/select2.css" rel="stylesheet" />
    <link href="~/Scripts/Select2/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/jtable/themes/metro/purple/jtable.css" rel="stylesheet" />
    <link href="~/Content/MaterialDesign-Webfont-master/css/materialdesignicons.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />*@
    
    <!--[if gte IE 8]>
<link href="~/Content/ie8-and-down.css" rel="stylesheet" />
<link href="~/Scripts/jtable/themes/metro/blue/jtable.css" rel="stylesheet" />

<![endif]-->

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")

    @Scripts.Render("~/bundles/modernizr")
    <style>



    </style>
</head>
<body>
    <header>
<nav class="navbar navbar-default shadow-3 navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">External Document</a>
    </div>
    <ul class="nav navbar-nav">
       @*@Html.MenuLink("Index", "Index", "Home")*@

        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Request
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="@Url.Action("NewIssue","Issue")">New Document</a></li>
          <li><a href="@Url.Action("NewRevise","Issue")">Revise Document</a></li>
        </ul>
      </li>

         @Html.MenuLink("Issue", "Index", "Issue")
         @*@Html.MenuLink("New Issue", "NewIssue", "Issue")*@
         @Html.MenuLink("All Document", "Index", "ControlDoc")
    </ul>

       @Html.Partial("_LoginPartial")

  </div>
</nav>
    </header>
    <div class="container-fluid">
        @RenderSection("featured", required: false)
            @RenderBody()
 
    </div>
@*    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.9.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Select2/select2.js"></script>
    <script src="~/Scripts/jtable/jquery.jtable.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/noty/jquery.noty.js"></script>
    @RenderSection("scripts", required: false)

    <script src="http://webexternal/CDN/JS/Html5/html5shiv.min.js"></script>
    <script src="http://webexternal/CDN/JS/Html5/respond.min.js"></script>

        @if (Request.Url.ToString().ToLower().Contains(".nok.co.th"))
    {
        <link rel="stylesheet" href="@Scripts.Url("http://webexternal.nok.co.th/CDN/JS/Validate/styles/css/tnc.validate.css")" />
        <script type="text/javascript" src="@Scripts.Url("http://webexternal.nok.co.th/CDN/JS/Validate/jquery.tnc.validate.js")"></script>
     
    }
    else
    {
        <link rel="stylesheet" href="@Scripts.Url("http://webexternal/CDN/JS/Validate/styles/css/tnc.validate.css")" />
        <script type="text/javascript" src="@Scripts.Url("http://webexternal/CDN/JS/Validate/jquery.tnc.validate.js")"></script>
    }

    <script>
        $(document).ready(function () {

            $('#click_login').click(function () {
                var txtID = $('[name=id]').val();
                var txtPass = $('[name=pwd]').val();
                if (txtID != '' && txtPass != '') {
                    $('#form_login').submit();
                } else {
                    alert("Plz insert data");
                }

            });

        });
        </script>
        

</body>
</html>
