@model ExDoc.ViewModel.DocDetail_V2

<style>
    .load-center {
        width: 35%;
        margin: 0 auto;
        padding: 5%;
    }

    @@-moz-keyframes spin {
        0% {
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @@-ms-keyframes spin {
        0% {
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @@-webkit-keyframes spin {
        0% {
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }


    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        -moz-animation: spin 2s linear infinite;
        -o-animation: spin 2s linear infinite;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }



    .card-button-right {
        background-color: #fff !important;
        color: #333;
        position: relative;
        top: 15px;
        right: 20px;
    }

    /*.card-body {
        padding-left: 40px;
        padding-right: 25px;
        padding-bottom: 25px;
    }*/

    .Secondary-text {
        color: #757575;
        font-size: 14px;
    }

    .data-text {
        font-size: 16px;
        padding-bottom: 7.5px;
    }

    .type {
        margin-top: -10px;
    }

    .information_doc {
        padding-top: 15px;
    }

    .title {
        margin-bottom: -5px;
    }



    /* Tabs panel */
    .tabbable-panel {
        border: 1px solid #eee;
        padding: 10px;
    }

    /* Default mode */
    .tabbable-line > .nav-tabs {
        border: none;
        margin: 0px;
    }

        .tabbable-line > .nav-tabs > li {
            margin-right: 2px;
        }

            .tabbable-line > .nav-tabs > li > a {
                border: 0;
                margin-right: 0;
                color: #737373;
            }

                .tabbable-line > .nav-tabs > li > a > i {
                    color: #a6a6a6;
                }

            .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
                border-bottom: 4px solid #9FA8DA;
            }

                .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
                    border: 0;
                    background: none !important;
                    color: #333333;
                }

                    .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
                        color: #a6a6a6;
                    }

                .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
                    margin-top: 0px;
                }

            .tabbable-line > .nav-tabs > li.active {
                border-bottom: 4px solid #303F9F;
                position: relative;
            }

                .tabbable-line > .nav-tabs > li.active > a {
                    border: 0;
                    color: #333333;
                }

                    .tabbable-line > .nav-tabs > li.active > a > i {
                        color: #404040;
                    }

    .tabbable-line > .tab-content {
        margin-top: -3px;
        background-color: #fff;
        border: 0;
        border-top: 1px solid #eee;
        padding-left: 15px;
        /*padding: 15px 0;*/
    }

    .portlet .tabbable-line > .tab-content {
        padding-bottom: 0;
    }

    /* Below tabs mode */

    .tabbable-line.tabs-below > .nav-tabs > li {
        border-top: 4px solid transparent;
    }

        .tabbable-line.tabs-below > .nav-tabs > li > a {
            margin-top: 0;
        }

        .tabbable-line.tabs-below > .nav-tabs > li:hover {
            border-bottom: 0;
            border-top: 4px solid #9FA8DA;
        }

        .tabbable-line.tabs-below > .nav-tabs > li.active {
            margin-bottom: -2px;
            border-bottom: 0;
            border-top: 4px solid #303F9F;
        }

    .tabbable-line.tabs-below > .tab-content {
        margin-top: -10px;
        border-top: 0;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
    }
</style>


<div>

    <div class="card  shadow-2">

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_default_1" data-toggle="tab">Document Information </a>
                    </li>
                    <li onclick="get_tap2('@Model.issue_no')">
                        <a href="#tab_default_2" data-toggle="tab">Document File </a>
                    </li>
                    <li onclick="get_tap3('@Model.issue_no')">
                        <a href="#tab_default_3" data-toggle="tab">Transaction Detail </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_default_1">
                        <div class="doc_name">
                            <h3>Document Name : @Model.doc_name</h3>

                        </div>
                        <div class="type Secondary-text">Document Type : @Model.doc_type</div>

                        <div class="information_doc">

                            <div class="Secondary-text title">Document Number</div>
                            <div class="doc_rev data-text">@Model.doc_no</div>

                            <div class="Secondary-text title">Document Revision</div>
                            <div class="doc_rev data-text">@Model.doc_rev</div>

                            <div class="Secondary-text title">Receive date doc. from customer</div>
                            <div class="doc_rev data-text">@Model.rec_date</div>

                            <div class="Secondary-text title">TNC Product</div>
                            <p>@Model.tnc_product</p>

                            @if (@Model.change_point != null)
                            {
                                <div class="Secondary-text title">Change Point</div>
                                <p>@Model.change_point</p>
                            }

                            <div id="text_group_review"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_default_2">
                        <div id="tab2">
                            <div class="load-center">
                                <div class="loader"></div>
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane" id="tab_default_3">
                        <div id="tab3">
                            <div class="load-center">
                                <div class="loader"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



     @*@Html.Action("_FooterPreviewDoc", "Issue", new { issuer_no = @Model.issue_no })*@ 
       
       
            @if(Model.check_tran){
                
           <div class="card-footer">  @Html.Action("_FooterPreviewDoc", "Issue", new { issue_no = @Model.issue_no })   </div>

                }
        

    </div>
</div>




<script>

@*    $(document).ready(function () {
        var remote = "@Html.Raw(Url.Action("_FooterPreviewDoc", "Issue", new { issue_no = @Model.issue_no }))";
        $.get(remote, function (data) {
            $(".card-footer").append(data);

        });
    });*@



    function get_tap2(dd) {
        var remote = "@Url.Action("_CustomerAndFileV2")?issue_no=" + dd;
        $.get(remote, function (data) {
            $("#tab2").html(data);

        });
    }

    function get_tap3(dd) {
        var remote = "@Url.Action("_TransactionDetail")?issue_no=" + dd;
        $.get(remote, function (data) {
            $("#tab3").html(data);

        });
    }

</script>
