@model List<ExDoc.ViewModel.TranVSEmpInfo>

<style>
        .Secondary-text {
        color: #757575;
        font-size: 14px;
    }

    .data-text {
        font-size: 16px;
        padding-bottom: 7.5px;
    }
</style>

<div class="doc_name">
    <h3>Transaction</h3>

</div>
<div class="type Secondary-text">Detail</div>

<div class="">

    @{
    
        foreach (var item in Model)
        {

            switch (item.action_id)
            {
                case 1:
                        <div class="bs-callout bs-callout-default shadow-1">
                          <h4>@item.status_name : @item.action_name</h4>
                          
                            <div class="Secondary-text title">Actor</div>
                            <div class="doc_rev data-text">@item.actor_name : @item.position_name ( @item.org_name )</div>

                            <div class="Secondary-text title">Actor Date</div>
                            <div class="doc_rev data-text">@item.actor_date</div>
                        </div>
                    break;
                    
                    case 2:
                            <div class="bs-callout bs-callout-primary shadow-1">
                              <h4>@item.status_name : @item.action_name </h4>
                          
                                <div class="Secondary-text title">Actor</div>
                                <div class="doc_rev data-text">@item.actor_name : @item.position_name ( @item.org_name )</div>

                                <div class="Secondary-text title">Actor Date</div>
                                <div class="doc_rev data-text">@item.actor_date</div>
                            </div>
                    break;
                    
                    case 3:
                            <div class="bs-callout bs-callout-danger shadow-1">
                              <h4>@item.status_name : @item.action_name  </h4>
                          
                                <div class="Secondary-text title">Actor</div>
                                <div class="doc_rev data-text">@item.actor_name : @item.position_name ( @item.org_name )</div>

                                <div class="Secondary-text title">Actor Date</div>
                                <div class="doc_rev data-text">@item.actor_date</div>
                                <div class="Secondary-text title">Comment</div>
                                    <p>@item.comment</p>
                                <div class="Secondary-text title">Attachment File</div>
                                 <a href="@Url.Content(item.comment_pic)">@Path.GetFileName(Server.MapPath(item.comment_pic))</a>
                            
                            </div>
                    break;
                    
                    case 4:
                            <div class="bs-callout bs-callout-primary shadow-1">
                              <h4>@item.status_name : @item.action_name </h4>
                          
                                <div class="Secondary-text title">Actor</div>
                                <div class="doc_rev data-text">@item.actor_name : @item.position_name ( @item.org_name )</div>

                                <div class="Secondary-text title">Actor Date</div>
                                <div class="doc_rev data-text">@item.actor_date</div>
                            </div>
                    break;
                    
                    case 0:
                            <div class="bs-callout bs-callout-warning shadow-1">
                              <h4> Waitng @item.status_name (@item.org_name)</h4>
                            </div>
                    break;
                    
                    case 5:
                            <div class="bs-callout bs-callout-warning shadow-1">
                                <h4>@item.status_name : @item.action_name</h4>
                          
                                <div class="Secondary-text title">Actor</div>
                                <div class="doc_rev data-text">@item.actor_name : @item.position_name ( @item.org_name )</div>

                                <div class="Secondary-text title">Actor Date</div>
                                <div class="doc_rev data-text">@item.actor_date</div>
                            </div>
                    break;

                    case 6:
                            <div class="bs-callout bs-callout-default shadow-1">
                              <h4>@item.status_name : @item.action_name</h4>
                          
                                <div class="Secondary-text title">Actor</div>
                                <div class="doc_rev data-text">@item.actor_name : @item.position_name ( @item.org_name )</div>

                                <div class="Secondary-text title">Actor Date</div>
                                <div class="doc_rev data-text">@item.actor_date</div>
                            
                            </div>
                    break;
                    
                    case 7:
                            <div class="bs-callout bs-callout-danger shadow-1">
                              <h4>@item.status_name : @item.action_name  </h4>
                          
                                <div class="Secondary-text title">Actor</div>
                                <div class="doc_rev data-text">@item.actor_name : @item.position_name ( @item.org_name )</div>

                                <div class="Secondary-text title">Actor Date</div>
                                <div class="doc_rev data-text">@item.actor_date</div>
                                <div class="Secondary-text title">Comment</div>
                                    <p>@item.comment</p>
                                <div class="Secondary-text title">Attachment File</div>
                                 <a href="@Url.Content(item.comment_pic)">@Path.GetFileName(Server.MapPath(item.comment_pic))</a>
                            
                            </div>
                    break;
                    
                     
                    case 100:
                            <div class="bs-callout bs-callout-success shadow-1">
                              <h4> @item.action_name</h4>
                          
                         @*       <div class="Secondary-text title">Actor</div>
                                <div class="doc_rev data-text">@item.actor_name : @item.position_name ( @item.org_name )</div>

                                <div class="Secondary-text title">Actor Date</div>
                                <div class="doc_rev data-text">@item.actor_date</div>*@
                            
                            </div>
                    break;                                        

            }
            


        }    
    
    }


@*            <div class="Secondary-text title">@item.status_name</div>
        <div class="doc_rev data-text">@item.action_name by @item.actor_name at @item.actor_date</div>
        if(item.comment!=null){<p>comment : @item.comment</p>
         <a href="@Url.Content(item.comment_pic)">@Path.GetFileName(Server.MapPath(item.comment_pic))</a>
        
        }*@

      @*      <div class="bs-callout bs-callout-default shadow-1">
          <h4>Default Callout</h4>
          This is a default callout.
        </div>

        <div class="bs-callout bs-callout-primary shadow-1">
          <h4>Primary Callout</h4>
          This is a primary callout.
        </div>

        <div class="bs-callout bs-callout-success shadow-1">
          <h4>Success Callout</h4>
          This is a success callout.
        </div>

        <div class="bs-callout bs-callout-info shadow-1">
          <h4>Info Callout</h4>
          This is an info callout.
        </div>

        <div class="bs-callout bs-callout-warning shadow-1">
          <h4>Warning Callout</h4>
          This is a warning callout.
        </div>

        <div class="bs-callout bs-callout-danger shadow-1">
          <h4>Danger Callout</h4>
          This is a danger callout.
            <code>
                public class Hello1
                {
                   public static void Main()
                   {
                      System.Console.WriteLine("Hello, World!");
                   }
                }
            </code>  
        </div>*@

    </div>

