<style>
    .doc_origin {
        padding-bottom: 10px;
    }

    #del_doc {
        border: #fff;
    }



    /* Tabs panel */
    .tabbable-panel {
        border: 1px solid #eee;
        padding: 10px;
    }

    /* Default mode */
    .tabbable-line > .nav-tabs {
        border: none;
        margin: 0px;
    }

        .tabbable-line > .nav-tabs > li {
            margin-right: 2px;
        }

            .tabbable-line > .nav-tabs > li > a {
                border: 0;
                margin-right: 0;
                color: #737373;
            }

                .tabbable-line > .nav-tabs > li > a > i {
                    color: #a6a6a6;
                }

            .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
                border-bottom: 4px solid #9FA8DA;
            }

                .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
                    border: 0;
                    background: none !important;
                    color: #333333;
                }

                    .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
                        color: #a6a6a6;
                    }

                .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
                    margin-top: 0px;
                }

            .tabbable-line > .nav-tabs > li.active {
                border-bottom: 4px solid #303F9F;
                position: relative;
            }

                .tabbable-line > .nav-tabs > li.active > a {
                    border: 0;
                    color: #333333;
                }

                    .tabbable-line > .nav-tabs > li.active > a > i {
                        color: #404040;
                    }

    .tabbable-line > .tab-content {
        margin-top: -3px;
        background-color: #fff;
        border: 0;
        border-top: 1px solid #eee;
        padding: 15px 0;
    }

    .portlet .tabbable-line > .tab-content {
        padding-bottom: 0;
    }

    /* Below tabs mode */

    .tabbable-line.tabs-below > .nav-tabs > li {
        border-top: 4px solid transparent;
    }

        .tabbable-line.tabs-below > .nav-tabs > li > a {
            margin-top: 0;
        }

        .tabbable-line.tabs-below > .nav-tabs > li:hover {
            border-bottom: 0;
            border-top: 4px solid #9FA8DA;
        }

        .tabbable-line.tabs-below > .nav-tabs > li.active {
            margin-bottom: -2px;
            border-bottom: 0;
            border-top: 4px solid #303F9F;
        }

    .tabbable-line.tabs-below > .tab-content {
        margin-top: -10px;
        border-top: 0;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
    }
</style>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div class="card shadow-2">
            <div class="card-title secondary-color-md">New Document</div>
            <div class="card-body">

                <div class="card-text card-boder">
                    <form id="formNewDoc" class="formNewDoc" action="@Url.Action("SaveIssueV2", "Issue")" method="post" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="form-group ">
                                    <label class="control-label">Customer</label>
                                    <select id="txt_c" style="width: 100%" name="customer" class="form-control" multiple="multiple" data-validate="required">
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-1"></div>

                            <div class="form-group col-xs-4 col-md-3">
                                <label for="name" class="control-label">Document Type</label>
                                @*<input type="text" class="form-control" name="doc_type" data-validate="required">*@
                                <select class="form-control" name="doc_type" data-validate="required">
                                    <option value="">Select Document Type</option>
                                    @foreach (var item in ViewBag.doc_type)
                                    {
                                        <option value="@item.doc_type_id">@item.doc_type_name</option>
                                    }


                                </select>

                            </div>

                            <div class="form-group col-xs-4 col-md-7">
                                <label for="name" class="control-label">Document Name</label>
                                <input type="text" class="form-control" name="doc_name" data-validate="required">
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="form-group col-xs-4 col-md-5">
                                <label for="name" class="control-label">Document Number</label>
                                <input type="text" value='' class="form-control" name="doc_no" data-validate="required">
                            </div>

                            <div class="form-group col-xs-4 col-md-5">
                                <label for="name" class="control-label">Document Revision</label>
                                <input type="text" value='' class="form-control" name="doc_rev" data-validate="required">
                            </div>

                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="form-group col-xs-4 col-md-5">
                                <label for="name" class="control-label">Receive from customer date</label>
                                <input type="text" value='' class="form-control " name="date_rec" id="date_re" data-validate="required" readonly>
                            </div>

                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="form-group col-xs-4 col-md-10">
                                <label for="name" class="control-label">TNC product name</label>
                                <input type="text" value='' class="form-control" name="tnc_product" data-validate="required">
                                @*<textarea  class="form-control" rows="4" name="tnc_product" data-validate="required">

                            </textarea>*@
                            </div>
                        </div>

                        <div class=" row_doc_file">
                            <div class="row doc_origin">
                                <div class="col-md-1"></div>
                                <div class="form-group col-md-10" id="file_doc">
                                    <label for="name" class="control-label">Document File</label>

                                    <input type="file" value='' name="doc_file" class="" id="md-input" data-validate="required">
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                        <div class="row">
                            <div class="col-md-3 ">
                            </div>
                            <div class="col-md-3 ">
                            </div>


                            <div class="col-md-3 ">
                                <button type="button" id="btn-core" class="btnSave btn nohover btn-primary  btn-block shadow-2">Submit</button>

                            </div>

                            <div class="col-md-3">
                                <button type="button" id="add_doc_file" class="btn btn-default btn-block">Add More File</button>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>


    </div>
    <div class="col-md-2"></div>
</div>




@section scripts{

    <script>
        $(document).ready(function () {
            var i = 0;
            //$(".date_re").bootstrapMaterialDatePicker({ weekStart: 0, time: false });
            var const_URL = "@Url.Action("get_all_customer", "Home")";
        $("#txt_c").select2({
            theme: "bootstrap",
            placeholder: {
                id: "0",
                text: "Select a Customer"
            },
            minimumInputLength: 0,
            ajax: {
                url: const_URL,
                type: "POST",
                dataType: 'json',
                data: function (params) {
                    //console.log(params)
                    return {
                        term: params.term
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data,

                    };
                }

            }
        });

        $("#date_re").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy' });
        $('button.btnSave').on('click', function () {

            var data = $("#txt_c").select2("data");

            var cust = [];
            for (var i = 0; i < data.length; i++) {
                //console.log(data[i].id)
                cust[i] = data[i].id;
            }


            // console.log($("#txt_c").val(),"ddddddddd");

            validate_select2();
            if ($.validate({ form: "formNewDoc" })) {

                //document.formRequest.submit();

                $("#formNewDoc").submit();

       @*         $.ajax({
                    url: '@Url.Action("SaveIssue", "Issue")',
                               dataType: 'json',
                               type: 'POST',
                               data: {
                                   issue_no: $("#txt_c").val()
                               },
                               success: function (data) {

                                   console.log(data,"ssssssss");
                               } // end success

                           }); // end ajax*@


            }// check validate
        });

        $('body').on('click', '#del_doc', function (e) {
            e.preventDefault();
            //$(this).parent().parent().parent().remove();

            var no = $(this).attr('data-del-no');
            $(".doc" + no).remove();
        });

        $('#txt_c').on('change', function () {
            validate_select2();
        });

        $('#add_doc_file').on('click', function () {

            var str = "";
            i += 1;
            str += "<div class='row  doc" + i + "'>";
            str += "<div class='col-md-1'></div>";
            str += "<div class='form-group col-md-10' >";
            str += "<div class='input-group'>";
            str += "<input type='file' value='' class='' name='doc_file' id='md-input' data-validate='required'>";
            str += "<div class='input-group-btn'>";
            str += "<button type='button' id='del_doc' data-del-no='" + i + "' class='btn btn-default btn-block'> <span class='glyphicon glyphicon-remove text-danger'></span></button>";
            str += "</div>";
            str += "</div>";
            str += "</div>";
            str += "<div class='col-md-1'>";
            str += "</div>";
            str += "</div>";

            $(".row_doc_file").append(str);



        })
    });

    @*var const_URL = "@Url.Action("get_all_customer", "Home")";*@
        //Selection_Customer(const_URL);

        $(".dropdown-menu li a").click(function () {

            $(".btn:first-child #NaOrNo").text($(this).text());
            $(".btn:first-child #NaOrNo").val($(this).text());
            $("#txt_c").val('').trigger('change.select2');
            //$('#txt_c').select2("data", "");
            if ($(this).text() === "Customer Number") {
                const_URL = "@Url.Action("get_all_customer", "Home")";
            //console.log($(this).text(), " === Customer Number");
            $("#customer_type").val($(this).text());
            Selection_Customer(const_URL);
        } else {
            const_URL = "@Url.Action("get_distinct_customer", "Home")";
            //console.log($(this).text(), " === Customer Name");
            $("#customer_type").val($(this).text());
            Selection_Customer(const_URL);
        }

    });


    function Selection_Customer(data_url) {
        $("#txt_c").select2({
            theme: "bootstrap",
            placeholder: {
                id: "0",
                text: "Select a Customer"
            },
            minimumInputLength: 0,
            ajax: {
                url: data_url,
                type: "POST",
                dataType: 'json',
                data: function (params) {
                    //console.log(params)
                    return {
                        term: params.term
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data,

                    };
                }

            }
        });
    }

    function validate_select2() {
        var custumer = $("#txt_c").select2("data");
        console.log(custumer);
        if (custumer.length <= 0) {
            $("input.select2-search__field").addClass("error");
            //$("#txt_c ").removeClass("has-success");
        } else {
            $("input.select2-search__field").removeClass("error");
            //$("#txt_c ").addClass("has-success");

        }
    }

    function cust2array(data) {
        var cust = [];
        for (var i = 0; i < data.length; i++) {
            //console.log(data[i].id)
            cust[i] = data[i].id;
        }
        return cust;
    }


    </script>

}